<section class="error">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{message}}</h1>
                <h2>{{error.status}}</h2>
                <!--<pre>{{error.stack}}</pre>-->
                <a href="/" class=" btn btn-dvc btn-large"><i class="fas fa-home"></i>Go back home</a>
            </div>
        </div>
    </div>
</section>
