<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="btn-auth">
          {{#if user}}
            <a class="btn btn-outlook btn-large" href="/outlook-calendar"><i class="fas fa-calendar-alt"></i>Go back to Outlook calendar</a>
          {{else}}
            <a class="btn btn-outlook btn-large" href="{{signInUrl}}"><i class="fas fa-calendar-alt"></i>Login with Outlook</a>
            <a class="btn btn-google btn-large" href="/google-calendar"><i class="fas fa-calendar-alt"></i>Login with Google</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</section>