pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.btn-auth { margin: 13rem 0; }
.btn-auth, .btn-dvc { text-align: center; }
.btn-outlook { background-color: #006FC4; color: #fff; border: 1px solid #006FC4; font-size: 1.5rem; transition: all 450ms; }
.btn-outlook:hover { background-color: #fff; color: #006FC4; transform: scale(1.15); }
.btn-dvc { background-color: #343A40; color: #fff; border: 1px solid #343A40; font-size: 1.5rem; transition: all 450ms; }
.btn-dvc:hover { background-color: #fff; color: #343A40; }
.btn-new-event { text-align: right; }

.fa-calendar-alt, .fa-plus-circle, .fa-home { margin: 0 0.4rem 0 0; }
.error { text-align: center; }

label { font-size: 1.5rem; }
.form-control:focus { border-color: #343A40; box-shadow: 0 0 0 0.2rem rgba(52,58,64,.25);}